/*Bootstrap overrides*/
.header .navbar-default {
  color: #777777;
  border: none;
  border-radius: 0px;
  margin: 12px 0px 12px 0px;
}
.header .navbar-collapse { border-top: none; }
.header .navbar-toggle{ margin-right:8px; }
.header .navbar-default .row .col-xs-6 { border-top: 1px solid #CCCCCC; padding: 12px; }
.header .navbar-default .row .col-xs-6:first-of-type { border-right: 1px solid #CCCCCC; }
.header .navbar-default .row .col-xs-6:first-of-type .btn { width: 100%; }
.header .navbar-default .col-xs-6 { padding: 12px; text-align: center; }
.header .navbar-form {
  clear: both;
  border: none;
  margin: 0px;
  padding: 0px;
}
.header .navbar-form input { width: 100%; }
.header .navbar-brand {
  border: 1px solid rgba(0,0,0,0.15);
  background-image: url("../img/lines.png");
  background-color: #0094FF;
}
.header .navbar-brand:hover { background-color: #66BFFF; }
.header #userName { text-shadow: 0px 2px 1px rgba(0,0,0,0.25); }
.header .navbar-default .navbar-brand {
  /*border: 1px solid #FFF;*/
  /*border-radius: 5px;*/
  color: #FFFFFF; text-shadow: none;
}
.header .navbar-default .btn { text-align: center; margin: 5px 1px 0px 0px; }

@media(max-width:768px){ }
@media(max-width:992px){ }
@media(max-width:1200px){ }
